<div>
    <div class="heading">
        Trending Products
    </div>
    <div class="img">
        <img class="imgcvr" src="../../assets/Img1.PNG">
        <img class="imgcvr" src="../../assets/Img2.PNG">
        <img class="imgcvr" src="../../assets/Img3.PNG">
        <img class="imgcvr" src="../../assets/Img4.PNG">
    </div>
    <div class="heading">
        Elegant Flats
    </div>
    <div class="img">
        <img class="imgcvr" src="../../assets/Img5.PNG">
        <img class="imgcvr" src="../../assets/Img6.PNG">
        <img class="imgcvr" src="../../assets/Img7.PNG">
        <img class="imgcvr" src="../../assets/Img8.PNG">
    </div>
</div>