<div class="headerSection">
    <div class="dropdown">
        <button class="dropbtn">Collection</button>
        <div class="dropdown-content">
          <a href="#">Dresses</a>
          <a href="#">Footwear</a>
          <a href="#">Shirts</a>
          <a href="#">Active Wears</a>
          <a href="#">Night Wears</a>
          <a href="#">Winter Wears</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Dresses</button>
        <div class="dropdown-content">
          <a href="#">Gowns</a>
          <a href="#">Two piece sets</a>
          <a href="#">Jumpsuits</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Tops</button>
        <div class="dropdown-content">
          <a href="#">Off-shoulders</a>
          <a href="#">Full Sleve</a>
          <a href="#">Sleveless</a>
          <a href="#">Cold-Shoulders</a>
          <a href="#">Night Wears</a>
          <a href="#">Winter Wears</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Foot Wears</button>
        <div class="dropdown-content">
          <a href="#">Shoes</a>
          <a href="#">Sneakers</a>
          <a href="#">Slippers</a>
        </div>
      </div>
</div>




